<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            <div class="bg-white my-3 py-2 px-2">
                <h2 class="py-3">Добавить новую книгу</h2>
                {{#successAddBook}}
                <div class="my-2 bg-success text-white alert">{{successAddBook}}</div>
                {{/successAddBook}}
                {{#errorAddBook}}
                <div class="my-2 bg-danger text-white alert">{{errorAddBook}}</div>
                {{/errorAddBook}}
                <form action="/librarian/addnewbook" method="post">
                    <table class="table table-bordered table-striped">
                        <thead class="table-info">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Поле</th>
                            <th scope="col">Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Заголовок</td>
                            <td><input type="text" class="form-control" name="title"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Кол-во страниц</td>
                            <td><input type="text" class="form-control" name="pages"></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Год издания</td>
                            <td><input type="text" class="form-control" name="issueYear"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success my-2 " type="submit" value="Добавить"/>
                </form>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>