<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            <div class="bg-white my-3 py-2 px-2">
                <h2 class="py-3">Добавить</h2>
                {{#successAddBook}}
                <div class="my-2 bg-success text-white alert">{{successAddBook}}</div>
                {{/successAddBook}}
                {{#errorAddBook}}
                <div class="my-2 bg-danger text-white alert">{{errorAddBook}}</div>
                {{/errorAddBook}}
                <form action="/librarian/addbook" method="post">
                <table class="table table-bordered table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Поле</th>
                        <th scope="col">Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Заголовок</td>
                        <td><input type="text" class="form-control" name="title"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Кол-во страниц</td>
                        <td><input type="text" class="form-control" name="pages"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Год издания</td>
                        <td><input type="text" class="form-control" name="issueYear"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Тираж</td>
                        <td><input type="text" class="form-control" name="circulation"></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Серия</td>
                        <td><input type="text" class="form-control" name="series"></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Вид</td>
                        <td><input type="text" class="form-control" name="kind"></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Обложка</td>
                        <td><input type="text" class="form-control" name="cover"></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Издание</td>
                        <td><input type="text" class="form-control" name="edition"></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>ISBN</td>
                        <td><input type="text" class="form-control" name="ISBN"></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>ISSN</td>
                        <td><input type="text" class="form-control" name="ISSN"></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>UDC</td>
                        <td><input type="text" class="form-control" name="UDC"></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>id издательства</td>
                        <td><input type="text" class="form-control" name="publishingId"></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Место издания</td>
                        <td><input type="text" class="form-control" name="editionPlace"></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>Дата издания</td>
                        <td><input type="date" name="issueDate"></td>
                    </tr>
                    </tbody>
                </table>
                <input class="btn btn-success my-2 " type="submit" value="Добавить"/>
                </form>
            </div>
            <div class="bg-light my-3 py-2 px-2">
                <h2 class="py-3">Удалить</h2>
                {{#successDeleteBook}}
                <div class="my-2 bg-success text-white alert">{{successDeleteBook}}</div>
                {{/successDeleteBook}}
                {{#errorDeleteBook}}
                <div class="my-2 bg-danger text-white alert">{{errorDeleteBook}}</div>
                {{/errorDeleteBook}}
                <form action="/librarian/getdeletebooks" method="post">
                    <input type="text" class="form-control" name="title" placeholder="Заголовок для удаления">
                    <input class="btn btn-success my-2 " type="submit" value="Найти"/>
                </form>
                <table class="table table-bordered table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col">Поле</th>
                        <th scope="col">Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#deleteBooks}}
                    <tr>
                        <td>{{#id}}{{id}}{{/id}}</td>
                        <td>{{#title}}{{title}}{{/title}}</td>
                    </tr>
                    {{/deleteBooks}}
                    </tbody>
                </table>
                <form action="/librarian/deletebooks" method="post">
                    <input type="text" class="form-control" name="bookIdsForDelete" placeholder="id через запятую, без пробелов">
                    <input class="btn btn-success my-2 " type="submit" value="Удалить"/>
                </form>
            </div>
            <div class="bg-white my-3 py-2 px-2">
                <h2 class="py-3">Обновить</h2>
                <form action="/librarian/getupdatebooks" method="post">
                    <input type="text" class="form-control" name="param" placeholder="Заголовок или id">
                    <input class="btn btn-success my-2" type="submit" value="Найти"/>
                </form>
                {{#successUpdateBook}}
                <div class="my-2 bg-success text-white alert">{{successUpdateBook}}</div>
                {{/successUpdateBook}}
                {{#errorUpdateBook}}
                <div class="my-2 bg-danger text-white alert">{{errorUpdateBook}}</div>
                {{/errorUpdateBook}}
                {{#updateBook}}
                <form action="/librarian/updatebook" method="post">
                    <table class="table table-bordered table-striped">
                        <thead class="table-info">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Поле</th>
                            <th scope="col">Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">0</th>
                            <td>id</td>
                            <td><input type="text" class="form-control" name="id" value="{{#id}}{{id}}{{/id}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Заголовок</td>
                            <td><input type="text" class="form-control" name="title" value="{{#title}}{{title}}{{/title}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Кол-во страниц</td>
                            <td><input type="text" class="form-control" name="pages" value="{{#pages}}{{pages}}{{/pages}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Год издания</td>
                            <td><input type="text" class="form-control" name="issueYear" value="{{#issueYear}}{{issueYear}}{{/issueYear}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Тираж</td>
                            <td><input type="text" class="form-control" name="circulation" value="{{#circulation}}{{circulation}}{{/circulation}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Серия</td>
                            <td><input type="text" class="form-control" name="series" value="{{#series}}{{series}}{{/series}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Вид</td>
                            <td><input type="text" class="form-control" name="kind" value="{{#kind}}{{kind}}{{/kind}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Обложка</td>
                            <td><input type="text" class="form-control" name="cover" value="{{#cover}}{{cover}}{{/cover}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Издание</td>
                            <td><input type="text" class="form-control" name="edition" value="{{#edition}}{{edition}}{{/edition}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>ISBN</td>
                            <td><input type="text" class="form-control" name="ISBN" value="{{#ISBN}}{{ISBN}}{{/ISBN}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>ISSN</td>
                            <td><input type="text" class="form-control" name="ISSN" value="{{#ISSN}}{{ISSN}}{{/ISSN}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>UDC</td>
                            <td><input type="text" class="form-control" name="UDC" value="{{#UDC}}{{UDC}}{{/UDC}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>id издательства</td>
                            <td><input type="text" class="form-control" name="publishingId" value="{{#publishingId}}{{publishingId}}{{/publishingId}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td>Место издания</td>
                            <td><input type="text" class="form-control" name="editionPlace" value="{{#editionPlace}}{{editionPlace}}{{/editionPlace}}"></td>
                        </tr>
                        <tr>
                            <th scope="row">14</th>
                            <td>Дата издания</td>
                            <td><input type="date" name="issueDate" value="{{#issueDate}}{{issueDate}}{{/issueDate}}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success my-2 " type="submit" value="Обновить"/>
                </form>
                {{/updateBook}}
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>