<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            {{#fullbook}}
            <table class="table table-bordered table-striped">
                <thead class="table-info">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Поле</th>
                    <th scope="col">Значение</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>id</td>
                    <td>{{#id}}{{id}}{{/id}}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Заголовок</td>
                    <td>{{#title}}{{title}}{{/title}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Автор</td>
                    <td>{{#surname}}{{surname}}{{/surname}} {{#firstName}}{{firstName}}{{/firstName}} {{#patronymic}}{{patronymic}}{{/patronymic}}, {{#country}}{{country}}{{/country}} <small class="text-muted">{{#authorId}}{{authorId}}{{/authorId}}</small></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Жанры</td>
                    <td>{{#genre}}{{genre}}{{/genre}}</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Кол-во страниц</td>
                    <td>{{#pages}}{{pages}}{{/pages}}</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Год издания</td>
                    <td>{{#issueYear}}{{issueYear}}{{/issueYear}}</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Тираж</td>
                    <td>{{#circulation}}{{circulation}}{{/circulation}}</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Серия</td>
                    <td>{{#series}}{{series}}{{/series}}</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Вид</td>
                    <td>{{#kind}}{{kind}}{{/kind}}</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Обложка</td>
                    <td>{{#cover}}{{cover}}{{/cover}}</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Издание</td>
                    <td>{{#edition}}{{edition}}{{/edition}}</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Язык</td>
                    <td>{{#lang}}{{lang}}{{/lang}}</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>ISBN</td>
                    <td>{{#ISSN}}{{ISBN}}{{/ISSN}}</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>ISSN</td>
                    <td>{{#ISSN}}{{ISSN}}{{/ISSN}}</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>UDC</td>
                    <td>{{#UDC}}{{UDC}}{{/UDC}}</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Издательство</td>
                    <td>{{#publishingTitle}}"{{publishingTitle}}"{{/publishingTitle}};
                        {{#publishingCountry}}{{publishingCountry}}{{/publishingCountry}}, {{#city}}{{city}}{{/city}}, {{#street}}{{street}}{{/street}}, {{#houseNumber}}{{houseNumber}}{{/houseNumber}}</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Место издания</td>
                    <td>{{#editionPlace}}{{editionPlace}}{{/editionPlace}}</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Дата издания</td>
                    <td>{{#issueDate}}{{issueDate}}{{/issueDate}}</td>
                </tr>
                </tbody>
            </table>
            {{/fullbook}}
            <table class="table table-bordered table-striped">
                <thead>
                <tr class="table-success">
                    <th scope="col">Доступные экземпляры</th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                {{#libraryInstances}}
                <tr>
                    <td>id: {{#id}}{{id}}{{/id}}, LK: {{#LK}}{{LK}}{{/LK}}, copyright: {{#copyright}}{{copyright}}{{/copyright}}, можно ли выносить: {{#getOut}}{{getOut}}{{/getOut}}</td>
                    <td><a href="/reader/issuebook/{{id}}" class="btn btn-success">Взять</a></td>
                </tr>
                {{/libraryInstances}}
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>