<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            <form class="px-5" action="/login" method="post" accept-charset="utf-8">
                {{#librarianHeader}}<h2>{{librarianHeader}}</h2>{{/librarianHeader}}
                {{#readerHeader}}<h2>{{readerHeader}}</h2>{{/readerHeader}}
                <div class="form-group">
                    <label for="email">Логин</label>
                    <input class="form-control" id="email" type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input class="form-control" id="password" type="password" name="password">
                </div>
                <input class="btn btn-success mt-3" type="submit" value="Войти">
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>