<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Библиотека</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Войти
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/loginreader">Как читатель</a>
                    <a class="dropdown-item" href="/loginlibrarian">Как библиотекарь</a>
                    <div class="dropdown-divider"></div>
                    <form class="form-inline" action="/logout" method="post">
                        <button type="submit" class="dropdown-item" href="/logout">Выйти</button>
                    </form>
                </div>
            </li>
            {{#registrationNav}}<li class="nav-item"><a class="nav-link" href="/registration">Регистрация</a></li>{{/registrationNav}}
            {{#profileNav}}<li class="nav-item"><a class="nav-link" href="/profile">Профиль</a></li>{{/profileNav}}

        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="post">
            <input class="form-control mr-sm-2" type="text" class="form-control" placeholder="Поиск" aria-label="Search" name="search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Искать</button>
        </form>
    </div>
</nav>
<div class="row">
    <div class="col">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h3>Просмотр</h3>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Книги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newbooks">Новые книги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/librarian/reports">Отчеты</a>
        </li>
    </ul>
</div>
</div>