<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            <div class="card-deck">
                {{#newBooks}}
                <div class="card bg-light my-3" style="min-width: 15rem;max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{#title}}{{title}}{{/title}}</h5>
                        <p class="card-text"><small class="text-muted">#{{#id}}{{id}}{{/id}}</small><br>{{#pages}}{{pages}}{{/pages}} стр.<br>{{#issueYear}}{{issueYear}}{{/issueYear}} год</p>
                        <a href="/fullbook/{{id}}" class="btn btn-primary">Полная информация</a>
                    </div>
                </div>
                {{/newBooks}}
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>