<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            {{#successUpdateProfile}}
            <div class="my-2 bg-success text-white alert">{{successUpdateProfile}}</div>
            {{/successUpdateProfile}}
            {{#errorUpdateProfile}}
            <div class="my-2 bg-danger text-white alert">{{errorUpdateProfile}}</div>
            {{/errorUpdateProfile}}
            {{#profile}}
            <form action="/updateprofilereader" method="post">
                <table class="table table-bordered table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Поле</th>
                        <th scope="col">Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>id</td>
                        <td><input type="text" class="form-control" name="id" value="{{#id}}{{id}}{{/id}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Фамилия</td>
                        <td><input type="text" class="form-control" name="surname" value="{{#surname}}{{surname}}{{/surname}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Имя</td>
                        <td><input type="text" class="form-control" name="firstName" value="{{#firstName}}{{firstName}}{{/firstName}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Отчество</td>
                        <td><input type="text" class="form-control" name="patronymic" value="{{#patronymic}}{{patronymic}}{{/patronymic}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Дата рождения</td>
                        <td><input type="date" class="form-control" name="birthdayDate" value="{{#birthdayDate}}{{birthdayDate}}{{/birthdayDate}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Место рождения</td>
                        <td><input type="text" class="form-control" name="birthdayPlace" value="{{#birthdayPlace}}{{birthdayPlace}}{{/birthdayPlace}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Образование</td>
                        <td><input type="text" class="form-control" name="education" value="{{#education}}{{education}}{{/education}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Работа</td>
                        <td><input type="text" class="form-control" name="job" value="{{#job}}{{job}}{{/job}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Телефон</td>
                        <td><input type="text" class="form-control" name="phone" value="{{#phone}}{{phone}}{{/phone}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Email</td>
                        <td><input type="text" class="form-control" name="email" value="{{#email}}{{email}}{{/email}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Паспорт</td>
                        <td>
                            {{#pasportSer}}{{pasportSer}}{{/pasportSer}} {{#pasportNum}}{{pasportNum}}{{/pasportNum}}<br>
                            {{#pasportWho}}{{pasportWho}}{{/pasportWho}} {{#pasportWhen}}{{pasportWhen}}{{/pasportWhen}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Официальный адрес</td>
                        <td><input type="text" class="form-control" name="officialAddress" value="{{#officialAddress}}{{officialAddress}}{{/officialAddress}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Фактический адрес</td>
                        <td><input type="text" class="form-control" name="factAddress" value="{{#factAddress}}{{factAddress}}{{/factAddress}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>Дата регистрации</td>
                        <td><input type="text" class="form-control" name="registrationDate" value="{{#registrationDate}}{{registrationDate}}{{/registrationDate}}"></td>
                    </tr>
                    {{#libraryCard}}
                    <tr>
                        <th scope="row">15</th>
                        <td>Читательский билет</td>
                        <td>{{#id}}№{{id}}{{/id}}{{#issueDate}}, выпущен: {{issueDate}}{{/issueDate}}</td>
                    </tr>
                    {{/libraryCard}}
                    </tbody>
                </table>
                <input class="btn btn-success my-2" type="submit" value="Обновить"/>
            </form>
            {{/profile}}
            <div class="card-deck">
                {{#booksIssued}}
                <div class="card bg-light my-3" style="min-width: 15rem;max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{#title}}{{title}}{{/title}}</h5>
                        <p class="card-text">
                            <small class="text-muted">#{{#id}}{{id}}{{/id}}</small><br>
                            <br>{{#pages}}{{pages}}{{/pages}} стр.<br>
                            {{#issueYear}}{{issueYear}}{{/issueYear}} год<br>
                            <b>Автор:</b> {{#firstName}}{{firstName}}{{/firstName}} {{#surname}}{{surname}}{{/surname}} <br>
                            <b>Где выдано:</b> {{#whereIssued}}{{whereIssued}}{{/whereIssued}}<br>
                            <b>Дата выдачи:</b> {{#issueDate}}{{issueDate}}{{/issueDate}}<br>
                            <b>Дата возврата:</b> {{#returnDate}}{{returnDate}}{{/returnDate}}<br>
                            <b>Информация о биб. экземпляре:</b> <small class="text-muted">#{{#liId}}{{liId}}{{/liId}}</small> LK: {{#LK}}{{LK}}{{/LK}}, Copyright: {{#copyright}}{{copyright}}{{/copyright}}
                        </p>
                        <a href="/fullbook/{{bId}}" class="btn btn-primary">Полная информация</a><br>
                        <a href="/reader/returnbook/{{id}}" class="btn btn-success mt-3">Сдать книгу</a>
                    </div>
                </div>
                {{/booksIssued}}
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>