<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            {{#successUpdateProfile}}
            <div class="my-2 bg-success text-white alert">{{successUpdateProfile}}</div>
            {{/successUpdateProfile}}
            {{#errorUpdateProfile}}
            <div class="my-2 bg-danger text-white alert">{{errorUpdateProfile}}</div>
            {{/errorUpdateProfile}}
            {{#profile}}
            <form action="/updateprofilelibrarian" method="post">
                <table class="table table-bordered table-striped">
                    <thead class="table-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Поле</th>
                        <th scope="col">Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>id</td>
                        <td><input type="text" class="form-control" name="id" value="{{#id}}{{id}}{{/id}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Фамилия</td>
                        <td><input type="text" class="form-control" name="surname" value="{{#surname}}{{surname}}{{/surname}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Имя</td>
                        <td><input type="text" class="form-control" name="firstName" value="{{#firstName}}{{firstName}}{{/firstName}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Отчество</td>
                        <td><input type="text" class="form-control" name="patronymic" value="{{#patronymic}}{{patronymic}}{{/patronymic}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Должность</td>
                        <td><input type="text" class="form-control" name="jobPosition" value="{{#jobPosition}}{{jobPosition}}{{/jobPosition}}"></td>
                    </tr>
                    </tbody>
                </table>
                <input class="btn btn-success my-2" type="submit" value="Обновить"/>
            </form>
            {{/profile}}
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>