

<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Библиотека</title>
</head>
<body>
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        {{> editmenu}}
        <div class="col-8">
            <h2>Статус состояния заголовков</h2>
            {{#successCheckBookTitles}}
                <div class="my-2 bg-success text-white alert">{{successCheckBookTitles}}</div>
            {{/successCheckBookTitles}}
            {{#errorCheckBookTitles}}
            <div class="my-2 bg-danger text-white alert">{{errorCheckBookTitles}}</div>
            {{/errorCheckBookTitles}}
            <h2>Сколько книг какого жанра в библиотеке</h2>
            <table class="my-2 table table-bordered table-striped">
                <thead class="table-info">
                <tr>
                    <th scope="col">Жанр</th>
                    <th scope="col">Количество</th>
                </tr>
                </thead>
                <tbody>
                {{#countBooksByGenre}}
                <tr>
                    <td>{{genre}}</td>
                    <td>{{count}}</td>
                </tr>
                {{/countBooksByGenre}}
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer>
    .
</footer>
</body>
</html>